---
import ResearchTitle from "../../components/ResearchTitle.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "Environment";
---

<!-- Research Environment page  -->
<BaseLayout {pageTitle}>
    <ResearchTitle />
    <h2 class="text-4xl font-bold">{pageTitle}</h2>
    <article>
        <p>Some text</p>
    </article>
</BaseLayout>
