---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ResearchTitle from "../../components/ResearchTitle.astro";
import { Picture } from "@astrojs/image/components";
const pageTitle = "Health";
---

<!-- Research Health page -->
<BaseLayout {pageTitle}>
    <ResearchTitle />
    <h2 class="text-4xl font-bold">{pageTitle}</h2>
    <article>
        <h3>
            Room temperature preservation of biologics in biosourced solid
            dispersions
        </h3>
        <p>Work in progress</p>
    </article>
    <article>
        <h3>
            Encapsulation of hydrophobic drugs in biosourced solid dispersions
            to enhance water solubility and bioavailability
        </h3>
        <ol class="list-decimal list-inside">
            <li>
                Spontaneous foaming during vaccum drying of organic solvent/PVP
                solution enhances the dispersion of model hydrophobic drugs
                (ibuprofen) compared to non-foamed, dried solutions. The foaming
                acts as an additional mixing force through extensive shear of
                the solution. (see paper P4)
            </li>
            <li>
                By a rheological approach, we showed that in miscible solutions
                (organic solvent/PVP), spontaneous foaming occurred in the
                semi-dilute entangled regime, near the transition to the
                concentrated regime; for partially miscible solutions (water/
                α–maltose), it occurred in solutions at a concentration near to
                the percolation concentration. (see paper P9)
            </li>
        </ol>

        <figure class="flex flex-col justify-center items-center">
            <Picture
                src="/assets/images/health-1.png"
                widths={[400, 700, 1400]}
                aspectRatio="1:0"
                sizes="(max-width: 800px) 400px, 1400px"
                formats={["png"]}
                alt="Home1"
            />
            <figcaption>
                Spontaneous foaming of a (ethanol/PVP 2.5k @ 2g/ml ) droplet
                under moderate vaccum (~-1bar)
            </figcaption>
        </figure>
    </article>

    <article>
        <h3>
            Ultra-stable, biosourced copolymers for biologics and drug delivery
        </h3>
        <p>Work in progress</p>
    </article>
</BaseLayout>
