@font-face {
    font-family: "Lora";
    src: local("Lora"), url("/fonts/Lora-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Lora";
    src: local("Lora"), url("/fonts/Lora-Italic.woff2") format("woff2");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "Lora";
    src: local("Lora"), url("/fonts/Lora-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Lora";
    src: local("Lora"), url("/fonts/Lora-BoldItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: bold;
}
