@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Override css rules here for element or classes*/
    html,
    body {
        min-height: 100dvh;
    }
    main section article {
        margin: 2em 0;
    }
    main section h3 {
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 0.75em;
    }
    main section p,
    main section li {
        text-align: justify;
    }
    main article p {
        margin-bottom: 2em;
    }
    article > section > figure > figcaption {
        font-size: 0.82em;
        font-weight: bold;
    }
    ol li {
        margin-bottom: 2em;
    }
    main ul li a {
        color: blue;
        text-decoration: underline;
    }
}
