---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout {pageTitle}>
    <h2 class="text-4xl uppercase font-bold">{pageTitle}</h2>
    <p></p>
</BaseLayout>
