---
import BaseLayout from "../layouts/BaseLayout.astro";
// @ts-ignore
import { Picture } from "@astrojs/image/components";
const pageTitle = "Home";
---

<!-- 
    Image 1: environment-3-2.png 
    Image 2: TDB 
    Image 3: health-1.png 
-->
<BaseLayout {pageTitle}>
    <h2 class="text-4xl font-bold mt-7">Home</h2>
    <div class="flex flex-row justify-center items-center w-full">
        <article class="flex flex-col xl:grid grid-cols-2 grid-flow-row gap-15">
            <section class="row-start-1 row-end-3">
                <figure class="flex flex-col justify-center items-center">
                    <figcaption>Text for the first image</figcaption>
                    <Picture
                        src="/assets/images/environment-3-2.v2.png"
                        widths={[100, 200, 450]}
                        aspectRatio="1055:1001"
                        sizes="(max-width: 600px) 200px, 450px"
                        formats={["png"]}
                        alt="Home1"
                    />
                </figure>
            </section>
            <section class="col-start-2 row-start-1 row-end-3">
                <figure class="flex flex-col justify-center items-center">
                    <figcaption>Text for the second image</figcaption>
                    <Picture
                        src="/assets/images/home-2.png"
                        widths={[115, 230, 420]}
                        aspectRatio="460:512"
                        sizes="(max-width: 600px) 230px, 420px"
                        formats={["png"]}
                        alt="Home2"
                    />
                </figure>
            </section>
            <section class="mt-10 col-start-1 col-end-3">
                <figure class="flex flex-col justify-center items-center">
                    <figcaption>Text for the third image</figcaption>
                    <Picture
                        src="/assets/images/health-1.png"
                        widths={[128, 256, 900]}
                        aspectRatio="1184:148"
                        sizes="(max-width: 600px) 256px, 900px"
                        formats={["png"]}
                        alt="Home4"
                    />
                </figure>
            </section>
        </article>
    </div>
</BaseLayout>
