---
const pages = [
    {
        path: "/",
        name: "Home",
    },
    {
        path: "/research",
        name: "Research",
    },
    {
        path: "/publications",
        name: "Publications",
    },
    {
        path: "/about",
        name: "About me",
    },
];
---

<nav class="">
    <ul class="">
        {
            pages.map((page) => (
                <li class="">
                    <a class="" href={page.path}>
                        {page.name}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
